/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


/* this style for Props Practice
.name-card{
  font-family: Aria;
  color: white;
  border-radius: 20px;
  border: 10px;
  background-color: rgb(153, 60, 240);  
  border-color: black;
  margin: 2px;
  padding: 20px;
  text-align: left;
} */

/* this is for List Rendering Practice
 */
/* .list-header{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  border: 20px;
  background-color: rgb(160, 105, 23);
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.list-items{
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
  font-size: medium;
} */


/* This style for useState hook  */
.counter-container{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.count-display{
  font-size: 150px;
  margin-top: 0;
  margin-bottom: 2px
}

.button-style{
  width: 200px;
  height: 50px;
  margin: 0px 5px;
  font-weight:  bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  background-color: rgb(114, 114, 250);
  border-radius: 10px;
  color: white;
  border: none
}

.button-style:hover{
  background-color: rgb(114, 114, 200);
  cursor: pointer;
}